<div class="form-container">
  <form (ngSubmit)="submitForm()" class="custom-form editForm">
    <div *ngFor="let field of desc">
      <label [for]="field.name">{{ field.label }}</label>
      <ng-container *ngIf="field.type === 'picklist'; else textInput">
        <select [id]="field.name" [name]="field.name" [(ngModel)]="record[field.name]">
          <option *ngFor="let option of field.picklistValues" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </ng-container>
      <ng-template #textInput>
        <ng-container *ngIf="field.type === 'boolean'; else defaultInput">
          <select [id]="field.name" [name]="field.name" [(ngModel)]="record[field.name]">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </ng-container>
        <ng-template #defaultInput>
          <input
            [type]="field.type === 'boolean' ? 'text' : field.type"
            [id]="field.name"
            [name]="field.name"
            [(ngModel)]="record[field.name]"
          />
        </ng-template>
      </ng-template>
    </div>

    <div class="button-container">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
